In [35]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
X = df[['company', 'job', 'degree']]
X.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [9]:
y = df['salary_more_then_100k']
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [30]:
X['company'] = le.fit_transform(X['company'])
X['job'] = le.fit_transform(X['job'])
X['degree'] = le.fit_transform(X['degree'])
X.head()

C:\Users\ASUS\AppData\Local\Temp/ipykernel_1316/334734798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['company'] = le.fit_transform(X['company'])
C:\Users\ASUS\AppData\Local\Temp/ipykernel_1316/334734798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['job'] = le.fit_transform(X['job'])
C:\Users\ASUS\AppData\Local\Temp/ipykernel_1316/334734798.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['degree'] = le.fit_transform(X['degree'])

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [14]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [76]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [77]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [78]:
model.score(X_train, y_train)

1.0

In [79]:
model.score(X_test, y_test)

0.8