In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('insurance_data.csv')
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [4]:
df.shape

(27, 2)

In [7]:
X = df[['age']]
X.head()

   age
0   22
1   25
2   47
3   52
4   46

In [8]:
y = df[['bought_insurance']]
y.head()

   bought_insurance
0                 0
1                 0
2                 1
3                 0
4                 1

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=10)

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
model.fit(X_train, y_train)

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [12]:
model.predict(X_test)

array([1, 1, 0], dtype=int64)

In [14]:
X_test

    age
7    60
5    56
18   19

In [15]:
model.predict_proba(X_test)

array([[0.06470723, 0.93529277],
       [0.10327405, 0.89672595],
       [0.92775095, 0.07224905]])