In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('carprices.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [6]:
df.shape

(20, 3)

In [10]:
X = df[['Mileage', 'Age(yrs)']]
X

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
5     59000         5
6     52000         5
7     72000         6
8     91000         8
9     67000         6
10    83000         7
11    79000         7
12    59000         5
13    58780         4
14    82450         7
15    25400         3
16    28000         2
17    69000         5
18    87600         8
19    52000         5

In [11]:
y = df['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, random_state=48)

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
model.fit(X_train, y_train)

LinearRegression()

In [15]:
model.predict(X_test)

array([34339.42866802, 22508.88253592, 25559.540021  , 20834.77398788])

In [16]:
y_test

1    34000
9    22000
5    26750
7    19300
Name: Sell Price($), dtype: int64

In [17]:
model.score(X_test, y_test)

0.9666920726172602